{{ define "Base" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org@2.0.1" integrity="sha384-QWGpdj554B4ETpJJC9z+ZHJcA/i59TyjxEPXiiUgN2WmTyV5OEZWCD6gQhgkdpB/" crossorigin="anonymous"></script>
    <title>HTMX-Go</title>
</head>
<body>
    <div id="notes">
        {{range .notes}}
            <div>
                <h2>{{.Title}}</h2>
                <p>{{.Category}}</p>
            </div>
        {{end}}
    </div>
</body>
</html>
{{ end }}
